h1 {font-size:150%;color: 
    red;}
#Display_Name{
    background-color: #efefef;
    border: 4px;
    margin: 25px auto 30px auto;
    text-align: center;
    text-shadow: -0.5px -0.25px #b32929;
}
#txt_current_time,#txt_future_time{
    background-color: orange;
    margin: 0px 25px 1px 25px;
    text-align: center;
    font-size:125%;
    padding:9px;
}
#current_time,#future_time{
    text-align:center;
    font-size:150%;
    background-color: rgb(190, 187, 187);
    margin: 2px 25px 2px 25px;
    padding:25px;
}
.time_selector{
    text-align:center;
    font-size:130%;
    background-color: lightsteelblue;
    margin:-12px 25px -30px 25px;
    padding: 24px;
    //border-style: dashed;
}
#time-selector{
    font-size:145%;
    background-color: whitesmoke;
    float: center;
    margin-left:-25px;
    cursor: pointer;
}
#button_container_div{
    text-align: center;
    /*background-color: springgreen;*/
    margin: 2px 25px 2px 25px;
    padding:15px;
}
#snapshot_button{
    /*background-color: red;*/
    font-size:150%;
    padding:15px;
    box-shadow: 1px 0px 4px 2px black;
    cursor:pointer;
}
#time_snapshot{
    background-color: azure;
    padding: 30px;
}
#time_snapshot_container{
    text-align:center;
    margin: 25px;
    border-style: dashed;
}
#time_snapshot_container_h2{
    margin-left: 5px;;
}
/*html{
    background-color: springgreen;
}*/
#red_text_time{
    display:inline-block;
    color:red;
}